<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tourlesjours.calendar.member.mapper.MemberMapper">

    <select id="isMember"
            parameterType="String"
            resultType="Boolean">

        SELECT COUNT(*) FROM USER_MEMBER
                        WHERE ID = #{id}

    </select>

    <insert id="insertMember"
            parameterType="com.tourlesjours.calendar.member.MemberDto">

        INSERT INTO USER_MEMBER(ID, PW, MAIL, PHONE)
        VALUES (#{id}, #{pw}, #{mail}, #{phone})

    </insert>

    <select id="selectMemberById"
            parameterType="String"
            resultType="com.tourlesjours.calendar.member.MemberDto">

        SELECT * FROM USER_MEMBER
                 WHERE ID = #{id}

    </select>

    <update id="updateMember"
            parameterType="com.tourlesjours.calendar.member.MemberDto">

        UPDATE
            USER_MEMBER
        SET
            PW = #{pw},
            MAIL = #{mail},
            PHONE = #{phone},
            MOD_DATE = NOW()
        WHERE
            NO = #{no}

    </update>

    <select id="selectMemberByIdAndMail"
            parameterType="com.tourlesjours.calendar.member.MemberDto"
            resultType="com.tourlesjours.calendar.member.MemberDto">

        SELECT * FROM USER_MEMBER
                 WHERE ID = #{id} AND MAIL = #{mail}

    </select>

    <update id="updatePassword"
            parameterType="String">

        UPDATE
            USER_MEMBER
        SET
            PW = #{memPw},
            MOD_DATE = NOW()
        WHERE
            ID = #{memId}

    </update>

</mapper>