<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<header th:fragment="header">
    <div id="top">
        <h3>My Calendar</h3>
    </div>
    <div id="header_wrap">
        <a th:href="@{/}">Home</a> &nbsp;&nbsp;

        <th:block sec:authorize="!hasAnyRole('PRE_USER')">
            <a th:href="@{/member/signup}">Sign-up</a> &nbsp;&nbsp;
            <a th:href="@{/member/signin}">Sign-in</a> &nbsp;&nbsp;
        </th:block>
        <th:block sec:authorize="hasAnyRole('PRE_USER')">
            <a th:href="@{/member/modify}">Modify</a> &nbsp;&nbsp;
            <a th:href="@{/member/signout_confirm}">Sign-out</a> &nbsp;&nbsp;
        </th:block>

    </div>
</header>

<nav th:fragment="nav">
    <div id="nav_wrap">
        <a th:href="@{/planner}">Planner</a>
    </div>
</nav>

<footer th:fragment="footer">
    <div id="footer_wrap">
        Copyright Office Inc. All Rights Reserved.
    </div>
</footer>

</html>